<!DOCTYPE html>
<html>
<head>
  <title>CIS 437 Test App</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>This was made by Clayton Wenzel</h1>

    <img src="https://media.tenor.com/IKX9hW_M6qwAAAAM/saturnius-fish.gif" alt="Funny fishy">

    <div class="button-container">
        <!-- swag Rick Roll Button -->
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="button" target="_blank">Get Rick Rolled</a>

        <!-- Porty Button -->
        <a href="https://endless.red" class="button" target="_blank">Visit My Portfolio</a>

        <!-- RNG COLOR button! -->
        <button class="button" onclick="changeBackground()">Change Background Color</button>
    </div>

    <script>
      // Change background color on button being clicked
      function changeBackground() {
        const colors = ['#ff4b1f', '#1f77ff', '#9b59b6', '#e74c3c', '#2ecc71', '#f39c12'];
        const randomColor = colors[Math.floor(Math.random() * colors.length)];
        document.body.style.background = randomColor;
      }
    </script>
</body>
</html>
